SERVER_HOST=0.0.0.0
SERVER_PORT=8000
SERVER_ORIGINS=[*]
SERVER_METHODS=[*]
SERVER_HEADERS=[*]

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=postgresql_container
POSTGRES_PORT=5432
